allow system_server adb_data_file:dir getattr;

r_dir_file(system_server, sysfs_battery_supply)

allow system_server pixeldust_data_file:file r_file_perms;
